<input type="search" placeholder="Search" ng-model="searchText.name" />
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
    </tr>
    <tr ng-repeat="product in products | filter:searchText | orderBy:'name'">
        <td>{{product.name}} </td>
        <td>{{product.description}}</td>
        <td>{{product.price | currency}}</td>
        <td>{{product.category | uppercase}}</td>
        <td><a href="#/products/{{product.id}}">Edit</a> | <a href="" ng-click="deleteProduct(product)">Delete</a></td>
    </tr>
</table>
