<div>
    <h1>Do.NET Shop Backend</h1>
    <form name="productForm" ng-submit="saveProduct(product)">
        <input type="text" placeholder="Name" ng-model="product.name" required />
        <input type="text" placeholder="Description" ng-model="product.description" />
        <input type="text" placeholder="10.50" ng-model="product.price" />
        <select ng-model="product.category" ng-options="c for c in categories"></select>
        <button type="submit" ng-disabled="productForm.$invalid || !productForm.$dirty">Save</button>
    </form>

    <p ng-repeat="eProp in errors" class="errors">
        <span ng-repeat="e in eProp">{{e}}</span>
    </p>

</div>
