@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Do.NET Shop Backend</title>
</head>
<body>
    <div>
        Do.NET Shop Backend
    </div>
    <script src="~/Scripts/angular-1.1.4/angular.min.js"></script>
</body>
</html>
