@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="donetshop.backend">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Do.NET Shop Backend</title>
</head>
<body ng-controller="EditProductCtrl">
    <div ng-include src="'Templates/ShopBackend/ProductEdit.html'"></div>
    <div ng-include src="'Templates/ShopBackend/ProductList.html'"></div>

    <script src="~/Scripts/angular-1.1.4/angular.min.js"></script>
    <script src="~/Scripts/angular-1.1.4/i18n/angular-locale_de-de.js"></script>
    <script src="~/App/ShopBackend/controllers.js"></script>
</body>
</html>
