@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="donetshop.backend">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Do.NET Shop Backend</title>
</head>
<body>
    <ul>
        <li>Menü</li>
        <li><a href="#/">Products</a></li>
        <li><a href="#/products/">New Product</a></li>
    </ul>

    <div ng-view></div>

    <script src="~/Scripts/angular-1.1.4/angular.min.js"></script>
    <script src="~/Scripts/angular-1.1.4/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-1.1.4/i18n/angular-locale_de-de.js"></script>
    <script src="~/App/ShopBackend/shopBackend.js"></script>
    <script src="~/App/ShopBackend/controllers.js"></script>
    <script src="~/App/resources.js"></script>
</body>
</html>
