@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Do.NET Shop Backend</title>
</head>
<body ng-init="categories=['Software', 'Hardware', 'Food', 'Drinks']; products=[]">
    <div>
        <h1>Do.NET Shop Backend</h1>
        <form ng-submit="products.push(product); product=null;">
            <input type="text" placeholder="Name" ng-model="product.name" />
            <input type="text" placeholder="Description" ng-model="product.desc" />
            <input type="number" placeholder="10.50" ng-model="product.price" />
            <select ng-model="product.category" ng-options="c for c in categories"></select>
            <button type="submit">Save</button>
        </form>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
        <tr ng-repeat="product in products">
            <td>{{product.name}} </td>
            <td>{{product.desc}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
        </tr>
    </table>
    <script src="~/Scripts/angular-1.1.4/angular.min.js"></script>
</body>
</html>
